body {
    display: flex;
    flex-direction: column;
    background-image: url("./img/matrix.png");
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Audiowide";
    font-size: 20px;
    
}

#interface {
    margin: 0 50px 0 50px;
    min-height: 850px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid rgba(128, 128, 128, 0.503);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    gap: 20px;
    
    
}

#menu {
    font-family: "Audiowide";
    margin-right: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    width: 25%;
    border-radius: 20px;
    background-color: rgba(169, 169, 169, 0.5);
    justify-content: space-around;

}

#playBoard {
    font-family: "Audiowide";
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(169, 169, 169, 0.5);
    justify-content: space-around;
}
#playBoard h2 {
    margin-top: 0;
}

#battleZone {
    display: flex;
    width: 100%;
    height: 70%;
    
}

#result {
    display: flex;
    height: 25%;
    width: 100%;
   

}

#weaponSelect {
    

    display: flex;
    flex-direction: column;
    min-height: 70%;
    justify-content: space-around;
}

.weapon {
     width: 60%;
    height: 150px;
}

.weapon:hover {
    min-width: 80%;
    min-height: 200px;
   
}

#playButton {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    min-height: 50px;
    border-radius: 12px;
    background-color: rgba(255, 0, 0, 0.508);
    font-family: "Audiowide";
}

#playButton:hover {
        background-color: rgba(255, 0, 0, 0.308);
}

#result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#result img {
    opacity: 0.8;
}

#playerHealth img {
    filter: drop-shadow(20px 20px 60px red);
}

#computerHealth img {
    filter: drop-shadow(20px 20px 60px blue);
}